# Local .terraform working directory (contains provider binaries & modules)
.terraform/

# Terraform state files (often contain sensitive plain-text data)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files (likely contain passwords or API keys)
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock files
.terraform.tfstate.lock.info

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore SSH keys (if you store them in a directory named "ssh-keys")
ssh-keys/**

**/backups/**
**/talos-configs/configs/**
**/cloudflare-api-token-secret.yaml